.hero{
    margin-top: -70px;
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #07192F;
    font-family: 'Inter', sans-serif;
}

.heroText{
    color: white;
    line-height: 87.14px;
}

.heroText h1{
    font-size: 72px;
}

.heroText h3{
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}

.container{
    margin-top: -80px;
    box-shadow:0 0 0 2px #ccc;
    background-color: white;
    color: black;
    border-radius: 15px;
    padding: 20px 40px;
}

.description h2{
    font-size: 40px;
}

.descTxt{
    font-weight: 500;
}

.day{
    display: flex;
    justify-content: space-between;
}

.card{
    box-shadow: 0px 2px 30px rgba(7, 25, 47, 0.25);
}

.certificate{
    margin-left: 30%;
}

.wdctCorner{
    padding: 15px 0;
}

.interview{
    margin-left: 10%;
}

/* .mentor{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 30px;
} */

.coordinatorCard{
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
}

.coordinatorImg{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

.coordinatorName{
    padding-bottom: 20px;
}

/* .vl{
    border-left: 2px solid #DDDDDD;
} */